.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

form {
    background-color: var(--o-light);
    border-radius: 5px;
    font-family: var(--main-font);
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}