@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Satisfy&display=swap');


/* Root variables are global styling that can be used across the files by inputing the variables in the root against the selector eg h1 {colour: var(--light-font) */

:root {
  
  /* font */
  --main-font: 'Raleway', calibri, sans-serif;
  --highlight-font: 'Satisfy', Sans-serif;
  --small-font: 400;
  --standard-font: 600;
  --bolder-font: 700;

  /* colours */
  --p-dark: #8246AF;
  --p-light: #C4AEDF;
  --o-dark: #F9A426;
  --o-light: #ffd449;
  --bg-light: #FDF3E5;
  --font-dark: #000000;
  --font-light: #ffffff;

}

html body {
  margin: 0 auto;
  font-family: var(--main-font);
  background-color: var(--bg-light);
  font-size: 20px;
}

button {
  background-color: var(--p-light);
  color: var(--font-dark);
  border-radius: 10px;
  min-height: 30px;
  min-width: 120px;
  border: none;
}

button:hover {
  background-color: var(--p-dark);
  color: var(--font-light);
  border-radius: 10px;
  min-height: 30px;
  min-width: 120px;
  border: none;
}

.error-section {
  display: flex;
  margin: auto;
  padding: auto;
}